@import "~normalize.css/normalize";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  font-family: "Lato", Calibri, Arial, sans-serif;
  font-size: 16px;
}

:global {
  .modalVisible {
    overflow: hidden !important;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  & {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}
